
@media (max-width: 600px) {
    /*mobile */
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    /*tablets */
    .container {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) {
    /*laptops*/
    .container {
        width: 50%;
        margin: 0 auto;
    }
}






body {
    margin: 0;
}


html {
    background-image: url(image/image1.png);
    background-color: rgba(164, 235, 255, 0.457);
    background-blend-mode: overlay;
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;


}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    background-color: #FAE8EB;
}

.title{
    padding-left: 50px;
    margin-top: 30px;
}

#header p {
    padding-right: 100px;
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 28px;
    font-weight: bold;
    color: orangered;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header button {
    background: rgb(5, 192, 255);
    border-radius: 15px;
    border-color: blue;
    color:  blue;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

}


#signin {
    padding-top: 100px;
    align-items: center; 
    display: flex;
    flex-direction: column;
}

.login-label {
    font-size: 30px;
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    }

.login-input {
    border-color: blueviolet;
}

#userlist {
    padding-top: 100px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orangered;
    align-items: center; 
    display: flex;
}

.user-list-heading {
    color: blue;
    font-size: 40px;
}

.quiz {
    padding-top: 100px;
    font-size: 30px;
    color: rgb(56, 6, 103);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.413);
    align-items: center; 
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap-reverse; */
}

.answer-form {
    padding-left: 250px;
    padding-right: 250px;
    align-items:center; 
}

.next-button {
    background: #282623;
    border-radius: 40px;
    border-color: turquoise;
    color: rgb(3, 89, 80);
    width: 300px;
    height: 70px;
    font-size: 28px;
    font-weight: bold;

}

.login-button {
    background: blueviolet;
    border-radius: 40px;
    border-color: blueviolet;
    color: yellow;
    width: 300px;
    height: 70px;
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    background:white;
    border-radius: 40px;
    border-color: turquoise;
    color: rgb(3, 89, 80);
    width: 300px;
    height: 70px;
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

input.correct {
    background-color: #26E37A;
    color: blue;
    border-color: rgb(149, 249, 0);
}

input.wrong {
    background-color: red;
    color: antiquewhite;
    border-color: red;
}